{
  "presets": [
    [
      "env", 
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"],
          "node": "current"
        }
      },
    ],
    "react",
    "stage-3",
    "stage-2"
  ],
  "plugins": [
    [
      "styled-components", 
      {
        "ssr": true
      },
    ],
    "react-hot-loader/babel",
    "polished",
  ],
}
